<h2 mat-dialog-title>Brewery Details</h2>

<mat-dialog-content>
    <mat-card>
        <mat-card-title>{{ data.name }}</mat-card-title>
        <mat-card-subtitle>Address</mat-card-subtitle>
        <mat-card-content>
            <table>
                <tr>
                    <td>Name: </td>
                    <td>{{Name}}</td>
                    <td>Brewery Type: </td>
                    <td>{{BreweryType}}</td>
                </tr>
                <tr>
                    <td>Address 2: </td>
                    <td>{{Address_2}}</td>
                    <td>Street: </td>
                    <td>{{StreetAddress}}</td>
                </tr>
                <tr>
                    <td>City: </td>
                    <td>{{city}}</td>
                    <td>State: </td>
                    <td>{{State}}</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>{{Country}}</td>
                    <td>Postal Code: </td>
                    <td>{{Postal_Code}}</td>
                </tr>
                <tr>
                    <td>Phone Number: </td>
                    <td>{{PhoneNumber}}</td>
                    <td>Web Site: </td>
                    <td>{{Web_SiteUrl}}</td>
                </tr>
            </table>
            <div *ngIf="mapLoaded">
                <google-map width="100%" [options]="options"></google-map>
              </div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>