<h2 mat-dialog-title>Brewery Details</h2>

<mat-dialog-content>
    <mat-card>
        <mat-card-title>{{ data.name }}</mat-card-title>
        <mat-card-subtitle>Address</mat-card-subtitle>
        <mat-card-content>
            <div *ngIf="mapLoaded">
                <google-map width="100%" [options]="options"></google-map>
              </div>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>